/* RESET CSS */
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET CSS */

/* OTRO RESET  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*/


/* GENERAL */
body {
	font-family: 'Albert Sans';
	font-weight: 400;
	background-color: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
	margin: 0px;
	display: flex;
  	flex-direction: column;
}

a {
	color: black;
	text-decoration: none;

}

/* header */
header{
	display: flex;
	position: relative;
	padding: 13px 0px 10px 13px;
	justify-content: space-between;
	background-color: rgb(24, 24, 24);
}

.Icono{
	width: 23%;
	display: inline;
}

.Icono a img{
	width: 100%;
	height: auto;
}

nav{
	display: flex;
	align-items: center; /* ALINEA EN EL EJE Y MIENTRAS EL JUSTIFY EN EL X SI EL FLEX ESTA EN ROW */
	padding-right: 0px;
}

nav ul{
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin: 0;
}

nav ul li{
	padding: 15px;
}


nav ul li a{
	display: block;
	color: rgb(245, 245, 245);
	text-align: center;
	font-weight: 500;
	font-size: xx-large;
}

nav ul li a:hover{
	color: transparent;
	animation: fadeIn .2s ease;
	background-image: url(../img/img40.jpg);
	background-size: 260%;
	background-position: 50% 65%;
	-webkit-background-clip: text;
}

/* header mobile */

.Icono_mobile a img{
	width: 45px;
	height: auto;
    display: none;
	padding-left: 10px;
}

.Checkbox_hamb {
    display: none;
}

.Menu_mobile label i{
	font-size: 42px;
	padding-right: 25px;
    display: none;
	color: rgb(245, 245, 245);
}

.Menu_mobile .Menu_hamb_merch i{
	color: rgb(14, 14, 14);
}

.Nav_mobile {
	position: absolute;
	margin-top: 1%;
	right: 2%;
	width: 270px;
	height: auto;
	background-color:rgb(14, 14, 14);
	z-index: 9999999;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transition: all .50s;
	clip-path: circle(0 at center);

}

.Nav_mobile ul{
	padding: 0; 
	margin: 0; 
}
.Nav_mobile ul a {
	display: block;
	color: rgb(245, 245, 245);
	text-align: center;
	font-weight: 500;
	font-size: large;
	margin: 12px 0;
	padding: 0px 25px;
	transition: all .50s;
}

.Checkbox_hamb:checked + .Nav_mobile {
	clip-path: circle(100% at center);
}


/* PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL*/

/* banner*/
main #Banner{
	width: 100%;
	overflow: auto;
}
/* INICIO ULTIMOS LANZAMIENTOS */

.Seccion h2{
	padding-left:30px;
	font-size: 30px;
}
#Lanzamientos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.Lanzamiento{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Lanzamiento h3,h4{
	margin: 10px 0px;
}

.Lanzamiento img{
	width: 268px;
	padding: 10px 0px;
}

#Merch h2{
	padding-top: 25px;
	border-top: outset;
}

#Articulos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.Elemento_merch{
	background-color: white;
	margin: 10px 0;
}

.Elemento_merch a img{
	width: 268px;
}
#Merch_boton {
	display: flex;
	justify-content: center;
}
#Merch_boton a{
	background-color: rgb(245, 245, 245);
	font-weight: 700;
	font-size: 30px;
	border-style: solid;
	border-color: rgb(245, 245, 245);
	border-radius: 10px;
	margin: 30px 0px;
}
#Merch_boton a:hover{
	background-color:rgb(199, 199, 199);
	border-color: rgb(199, 199, 199);
}
/* FOOTER */
footer{
	background-color: rgb(14, 14, 14);
	margin-top: 50px;
	bottom: 0px;
}
footer p{
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding: 15px 0px;
}
#Loguito_box{
	text-align: center;
	display: block;
}
#Loguito{
	width: 50px;
}
#Redes{
	text-align: center;
}
#Redes a img{
	width: 25px;
	padding: 5px 10px 0px 10px;
}

/* TENDENCIAS TENDENCIAS TENDENCIAS TENDENCIAS*/
.Icono#Fade{
	position: relative;
}
.Icono#Fade a img{
	position: relative;
  	transition: opacity 0.2s ease;
}
.Icono#Fade a img.top{
	position: absolute;
	width: 100%;
	left: 0;
}
.Icono#Fade img.top:hover{
	opacity: 0;
}
.Header_menu{
	padding-left: 60%;
}
#Mas_beats{
	font-size: 32px;
	font-weight: 600;
	color: rgb(245, 245, 245);
}

#Mas_beats:hover{
	color: transparent;
	animation: fadeIn .2s ease;
	background-image: url(../img/img40.jpg);
	background-size: 260%;
	background-position: 45% 65%;
	-webkit-background-clip: text;

}
@keyframes fadeIn {
	0% { color: rgb(245, 245, 245); }
	100% { color: transparent; }
}
.Main_destacado h1{
	padding-left: 1.5%;

}
.Main_destacado h2{
	padding-left: 3%;

}

#Mix_tendencia{
	display: block;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 24%;
}

#Background_video{
	display: block;
	text-align: center;
}
#Background_video video{
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	z-index: -9;
}

/* INDEX INDEX INDEX INDEX */

#Main_index{
	display: block;
	text-align: center;
	min-height: 100vh;
}

#Index_logo img{
	width: 200px;
	margin-top: 15%;
	margin-bottom: 5px;
}

#Index_gradient{
	position: absolute;
	width: 200px;
	z-index: -1;
	left: 43%;
	top: -5px;
}
#Index_black{
	position: absolute;
	left: 41.65%;
	top: 8px;
	width: 200px;
	z-index: -2;
}

#Main_index a{
	color: rgba(245, 245, 245, 0.001);
	font-weight: 600;
	font-size: 30px;
	border-style: groove;
	border-radius: 10px;
	border-color: rgb(14, 14, 14);
	background-image: url(../img/img40.jpg);
	background-size: 260%;
	background-position: 45% 65%;
	-webkit-background-clip: text;
}

#Link_fondohover:hover{
	color:rgb(224, 224, 224);
	animation: fadeOut .2s ease;
	background-image: url(../img/img40.jpg);
	background-size: 260%;
	background-position: 45% 65%;
	-webkit-background-clip: text;
	border-color: rgb(199, 199, 199);
}


@keyframes fadeOut {
	0% { color: transparent; }
	100% { color: rgb(224, 224, 224); }
}

/* BEATS BEATS BEATS */

.Type_beat_list .Type_beat_list_item{
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 40px;
	border-left: outset;
	border-radius: 100px;
	border-width: 1px;
}

.Type_beat_list .Type_beat_list_item img{
	width: 200px;
}

.Type_beat_list h2{
	padding-top: 20px;
	font-size: 40px;
}

.Type_beat_list .Type_beat_content{
	display: inline-block;
	padding-left: 20px;
}

.Type_beat_list .Type_beat_content h3{
	font-size: 35px;
}

.Type_beat_list .Type_beat_content h4{
	font-size: 20px;
}

.Type_beat_list .Type_beat_content audio{
	margin-bottom: 20px;
	font-size: 20px;
}

/* MERCH MERCH MERCH MERCH */
#Header_merch{
	background-color: rgb(244, 244, 244);
}

#Header_merch a{
	color: rgb(24, 24, 24);
}

#Header_merch .Nav_mobile ul a{
	color: rgb(245, 245, 245);
}

#Header_merch a:hover{
	color: transparent;
	animation: fadeMerch .2s ease;
	background-image: url(../img/img40.jpg);
	background-size: 260%;
	background-position: 45% 65%;
	-webkit-background-clip: text;

}

@keyframes fadeMerch {
	0% { color: rgb(24, 24, 24); }
	100% { color: transparent; }
}



#Main_merch img{
	width: 100%;
}
#Main_merch h2{
	position: absolute;
	color: rgb(24, 24, 24);
	padding-left: 40px;
	font-size: 40px;
}

#Main_merch p{
	position: absolute;
	color: rgb(24, 24, 24);
	padding-top: 85px;
	padding-left: 65px;
	font-size: 20px;
	font-weight: 400;
}

/* PRODUCCION PRODUCCION PRODUCCION PRODUCCION */

#Main_produccion h1{
	padding-top: 10px;
	padding-left: 5px;
	font-size: 40px;
}
#Main_produccion h2{
	display: block;
	padding-left: 20px;
	font-size: 30px;
}
#Main_produccion ul{
	display: block;
	font-size: 20px;
}
#Fl{
	position: absolute;
	margin-left: 45%;
	top: 30%;
	width: 50%;
	border-style: inset;
}

#Studio{
	display: inline;
	width: 45%;
	margin-left: 2%;
	margin-top: 2%;
	border-style: inset;
}

#Div_mail{
	position: absolute;
	margin-left: 60%;
	top: 95%;
	background-color: rgb(14, 14, 14);
	padding: 25px;
	font-size: 20px;
}

/* MEDIA QUIRES */

@media (max-width: 767px){/* esta consulta de medios se utiliza para dispositivos móviles con pantallas pequeñas, como teléfonos inteligentes en modo vertical. */
	/* Navbar */
    nav {
        display: none;
    }
	.Icono{
		display: none;
	}
	.Menu_mobile label i {
		display: block;
	}

	.Icono_mobile a img{
		display: block;
	}

	.Elemento_merch a img{
		background-color: white;
	}
}
@media (min-width: 768px) and (max-width: 991px){/* Esta consulta de medios se utiliza para dispositivos móviles en modo horizontal y tabletas en orientación vertical. */
    nav {
        display: none;
    }
	.Icono_mobile a img{
		display: block;
	}
	.Icono{
		display: none;
	}
	.Menu_mobile label i {
		display: block;
	}
	.Menu_mobile label i{
		font-size: 50px;
	}

	.Elemento_merch a img{
		background-color: white;
	}

@media (min-width: 992px) and (max-width: 1199px){/* Esta consulta de medios se utiliza para tabletas en orientación horizontal y pantallas de tamaño mediano. */

}

@media (min-width: 1200px){/*  Esta consulta de medios se utiliza para pantallas de escritorio y portátiles. */

}